---
import Link from '@/components/Link.astro'
import type { Link as SocialLink } from '@/consts'
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import SocialIcons from './SocialIcons.astro'

type Props = {
  author: CollectionEntry<'authors'>
  linkDisabled?: boolean
}
const { author, linkDisabled = false } = Astro.props
const {
  name,
  avatar,
  bio,
  pronouns,
  github,
  twitter,
  linkedin,
  website,
  mail,
} = author.data

const getSocialLinks = (): SocialLink[] => {
  const socialLinks: SocialLink[] = []
  const map = {
    Website: website,
    GitHub: github,
    Twitter: twitter,
    LinkedIn: linkedin,
    Email: mail,
  }
  for (const [key, value] of Object.entries(map)) {
    if (value) {
      socialLinks.push({ href: value, label: key })
    }
  }

  return socialLinks
}

const socialLinks = getSocialLinks()
---

<div
  class="overflow-hidden rounded-xl border p-4 transition-colors duration-300 ease-in-out has-[a:hover]:bg-secondary/50"
>
  <div class="flex flex-wrap gap-4">
    <Link
      href={`/authors/${author.slug}`}
      class={cn('block', linkDisabled && 'pointer-events-none')}
    >
      <div class="avatar">
        <div
          class={cn('w-32 rounded-md', {
            ['transition-shadow duration-300 hover:cursor-pointer hover:ring-2 hover:ring-primary']:
              !linkDisabled,
          })}
        >
          <img alt={`Avatar of ${name}`} src={avatar} />
        </div>
      </div>
    </Link>
    <div class="flex flex-grow flex-col justify-between gap-y-4">
      <div>
        <div class="flex flex-wrap items-center gap-x-2">
          <h3 class="text-lg font-semibold">{name}</h3>
          {
            pronouns && (
              <span class="text-sm text-muted-foreground">({pronouns})</span>
            )
          }
        </div>
        <p class="text-sm text-muted-foreground">{bio}</p>
      </div>
      <SocialIcons links={socialLinks} />
    </div>
  </div>
</div>
