---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import type { GlobalSearchRecord } from '@/components/global-search/types'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import { getCollection } from 'astro:content'

type Props = {
  title: string
  description: string
  image?: string
  class?: string
}

const { title, description, image, class: className } = Astro.props

const records = await getCollection('blog').then((blogs) => {
  return blogs.map((b) => {
    return {
      title: b.data.title,
      content: b.data.description,
      description: b.data.description,
      slug: b.slug,
      tags: b.data.tags || [],
    } satisfies GlobalSearchRecord
  })
})
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      image={image}
    />
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header records={records} />
      <main class={cn('flex-grow', className)}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
